ion-title {
  font: bold 25px/1 didot;
  text-transform: uppercase;
  color: #ffda29;
  text-shadow: 0 2px 0 #41330a,
  0 4px 0 #41330a,
  0 6px 0 #41330a,
  0 8px 0 #41330a,
  0 10px 0 #41330a,
  0 12px 0 #41330a;
  padding: 0px;
  text-align: center;
  background: darkblue;
  padding: 19px;
}
