<ion-header>
  <ion-toolbar>
    <ion-title>sala-detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label> ID Sala: {{sala.salaID}}</ion-label>
  <br>
  <ion-label> Numero Sala: {{sala.num_sala }}</ion-label>
  <br>
  <ion-label> Total de asientos: {{sala.asientos}}</ion-label>
  <br>
  <ion-label> Registro: {{sala.registro_activo}}</ion-label>
  <br>
  <ion-button expand="block" (click)="irAmodificar()"> Editar </ion-button>

  <ion-button *ngIf="!sala.registro_activo" [disabled]="loader" expand="block" color="success" (click)="activarDesactivar()"> Activar</ion-button>
  <ion-button  *ngIf="sala.registro_activo" [disabled]="loader"  expand="block" color="danger" (click)="activarDesactivar()"> Inactivar</ion-button>
</ion-content>
