<ion-header >
  <ion-toolbar>
    <ion-title class="text-center">Cinepolis
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="cart">
    <ion-thumbnail slot="start">
      <ion-img [src]="'https://www.spgtalleres.com/_images/news/248/7562_modal.jpg'" class="cartelera"></ion-img>
    </ion-thumbnail>
  </ion-item>
  <ion-list>
    <ion-item *ngFor="let item of lista" (click)="seleccionar(item)">
      <ion-label>{{item.salaID}}</ion-label>
    </ion-item>
  </ion-list>
  <ion-card>
    <ion-card-content>
      <ion-img [src]="'https://lumiere-a.akamaihd.net/v1/images/image_4f447b1d.jpeg'" class="cartelera"></ion-img>
      <ion-button expand="block"> <ion-icon name="eye"></ion-icon>Reproducir</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-img [src]="'https://media.timeout.com/images/105880763/750/422/image.jpg'" class="cartelera"></ion-img>
      <ion-button expand="block"> <ion-icon name="eye"></ion-icon>Reproducir</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-img [src]="'https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/buscandoanemo-1518455779.jpg?crop=0.9752380952380952xw:1xh;center,top&resize=480:*'" class="cartelera"></ion-img>
      <ion-button expand="block"> <ion-icon name="eye"></ion-icon>Reproducir</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
